@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This time is @DateTime.Now</p>
    <p>Recent Board</p>
</div>
